<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="static/index/js/index.js"></script>
        <style>
            @import "static/index/css/index.css";
        </style>
        <link rel="icon" type="image/ico" href="static/index/images/favicon-32x32.png">
        <title>Resume site by Kostikov Eugene</title>
    </head>
    <body>
        <div class="bodyContent">
            <div class="header">
                <div class="greeting">
                    <h2 th:text="#{greeting.header}"></h2>
                </div>
                <div class="lang">
                    <img class="langButton" onclick="changeLangToRU()" src="static/index/images/ru.png">
                    <img class="langButton" onclick="changeLangToEN()" src="static/index/images/en.png">
                </div>
            </div>
            <p th:text="#{greeting.p1}"></p>
            <p th:text="#{greeting.p2}"></p>
            <hr/>
            <h2 th:text="#{bio.header}"></h2>
            <p th:text="#{bio.p1}"></p>
            <p th:text="#{bio.p2}"></p>
            <p th:text="#{bio.p3}"></p>
            <hr/>
            <h2 th:text="#{stack.header}"></h2>
            <dl>
                <dt>Java 8:</dt>
                <dd>
                    <ul>
                        <li>Core</li>
                        <li>Collections</li>
                        <li>Streams</li>
                        <li>Multithreading</li>
                    </ul>
                </dd>
                <dt>SQL</dt>
                <dt>Hibernate framework for ORM;</dt>
                <dt>Spring framework with embedded Tomcat HTTP server:</dt>
                <dd>
                    <ul>
                        <li>Core</li>
                        <li>Security</li>
                        <li>MVC</li>
                        <li>ORM</li>
                    </ul>
                </dd>
            </dl>
            <h3 th:text="#{stack.t1}"></h3>
            <dl>
                <dt>Java Swing</dt>
                <dt>HTML/CSS/JS/JQuery</dt>
                <dt>Git VCS</dt>
                <dt>Maven</dt>
            </dl>
            <hr/>
            <h2 th:text="#{contacts.header}"></h2>
            <div class="contactsContainer">
                <div class="emptySpaceBlock"></div>

                <div class="contactContainer">
                    <div class="imageContainer">
                        <a href="https://github.com/Latterfall">
                            <img src="static/index/images/gitHubImage.png" alt="">
                        </a>
                    </div>
                    <div class="textContainer">
                        <a href="https://github.com/Latterfall" th:text="#{contacts.git}"></a>
                    </div>
                </div>

                <div class="emptySpaceBlock"></div>

                <div class="contactContainer">
                    <div class="imageContainer">
                        <a href="https://spb.hh.ru/resume/5836437bff07776e360039ed1f4a4d744b704d">
                            <img src="static/index/images/hhImage.png" alt="">
                        </a>
                    </div>
                    <div class="textContainer">
                        <a href="https://spb.hh.ru/resume/5836437bff07776e360039ed1f4a4d744b704d" th:text="#{contacts.hh}"></a>
                    </div>
                </div>

                <div class="emptySpaceBlock"></div>

                <div class="contactContainer">
                    <div class="imageContainer">
                        <a href="mailto:Latterfall@gmail.com">
                            <img src="static/index/images/gmailImage.png" alt="">
                        </a>
                    </div>
                    <div class="textContainer">
                        <a href="mailto:Latterfall@gmail.com" th:text="#{contacts.mail}"></a>
                    </div>
                </div>

                <div class="emptySpaceBlock"></div>
            </div>
        </div>
    </body>
</html>