<!DOCTYPE html>
<html lang=""
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="static/common/js/common.js"></script>
    <script src="static/messages/js/messages.js"></script>
    <style>
        @import "static/common/css/common.css";
        @import "static/messages/css/messages.css";
    </style>
    <link rel="icon" type="image/ico" href="static/common/images/favicon-32x32.png">
    <title th:text="#{messages.page_title}"></title>
</head>
    <body>
        <div class="bodyContent">
            <div class="headerArea">
                <div class="header">
                    <div class="greeting">
                        <h2 th:text="#{messages.header_area.header}"></h2>
                    </div>
                    <div class="lang">
                        <img class="langButton" onclick="changeLangToRU()" src="static/common/images/ru.png">
                        <img class="langButton" onclick="changeLangToEN()" src="static/common/images/en.png">
                    </div>
                </div>
            </div>
            <div class="messagesArea">
                <div class="messagesHeader">
                    <div class="messageImage"></div>
                    <div class="messageHeader" th:text="#{messages.messages_area.message_header}"></div>
                    <div class="messageSubject" th:text="#{messages.messages_area.message_subject}"></div>
                    <div class="actionButtons" th:text="#{messages.messages_area.message_actions}"></div>
                </div>
                <div class="messagesContainer">
                </div>
            </div>
        </div>
    </body>
</html>